.speak-button{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url('../../assets/sound.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex-shrink: 0;
  transition: all 0.5s;
  &:hover{
    transform: rotate(360deg);
  }
}

.active-voice{
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 1;
}

@keyframes pulsate {
  0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}